{
    "extends": ["@gravity-ui/eslint-config", "@gravity-ui/eslint-config/server", "@gravity-ui/eslint-config/prettier"],
    "root": true,
    "rules": {
        "global-require": "off",
        "import/consistent-type-specifier-style": ["error", "prefer-top-level"]
    },
    "overrides": [
        {
            "files": ["*.test.{ts,js}", ""],
            "env": {
                "jest": true
            }
        }
    ]
}
